name: Continuous Delivery

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types: [completed]

jobs:
  deploy:
    name: Deployment
    runs-on: self-hosted

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull latest Docker image
        run: docker pull ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.DOCKER_IMAGE }}:latest

      - name: Stop old container (if exists)
        run: |
          docker stop ${{ vars.DOCKER_IMAGE }} || true
          docker rm ${{ vars.DOCKER_IMAGE }} || true

      - name: Start application container
        run: docker run -d --name ${{ vars.DOCKER_IMAGE }} -p ${{ secrets.HOST_PORT }}:${{ secrets.CONTAINER_PORT }} ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.DOCKER_IMAGE }}:latest
